<?xml version="1.0"?>
<!-- launches robot_follower node along with tracker_sim launch file containing tracker_sim node and keyboard_teleop node -->
<launch>
    <!--Tracker sim params-->
    <arg name="loop_rate_value" default="10"/> <!-- To control the rate at which the tracker node will publish its goals -->
    <arg name="teleop_publish_topic" default="/tracker/cmd_vel"/> <!--The topic name at which the keyboard_telelop node publishes its tracker velocities -->
    <arg name="teleop_sub_topic" default="/tracker/cmd_vel"/> <!--The topic name at which the tracker_sim_node subscribes to the trakcer velocities published by the keyboard_teleop node -->  
    <arg name="tracker_pose_topic" default="/move_base_simple/goal"/> <!--The topic name at which the tracker_sim_node publishes its goals -->

    <!--robot_follower Params-->
    <arg name="robot_follower_params" default="$(find robot_follower)/config/robot_follower_config"/>

    <arg name="goal_dist_tolerance" default = "0.1"/> <!-- in meters -->
    <arg name="rel_motion_mode" default = "true"/>

    <arg name="map_frame" default="map"/>
    <arg name="robot_frame" default="base_link"/>


    <!--robot_follower-->
    
    <include file="$(find robot_follower)/launch/robot_follower.launch">
        <arg name="robot_follower_params" value="$(arg robot_follower_params)"/>
        <arg name="mobileGoalTopic" value="$(arg tracker_pose_topic)"/>
        <arg name="goal_dist_tolerance" value="$(arg goal_dist_tolerance)"/> 
        <arg name="loop_rate_value" value="$(arg loop_rate_value)"/>
        <arg name="rel_motion_mode" value="$(arg rel_motion_mode)"/>

        <arg name="map_frame" default="$(arg map_frame)"/>
        <arg name="robot_frame" default="$(arg robot_frame)"/>
    </include>


    <!--Tracker sim-->
    <include file="$(find tracker_sim)/launch/tracker_sim_keyboard_teleop.launch">
      <arg name="loop_rate_value" value="$(arg loop_rate_value)"/>
      <arg name="teleop_publish_topic" value="$(arg teleop_publish_topic)"/>
      <arg name="teleop_sub_topic" value="$(arg teleop_sub_topic)"/>
      <arg name="tracker_pose_topic" value="$(arg tracker_pose_topic)"/>
      <arg name="tracker_init_pose_x" value="5.0"/> <!--To control the initial tracker position on the x axis-->
      <arg name="tracker_init_pose_y" value="0.0"/>
    </include>
    
</launch>
